  
@mixin addIcon($svgPath) {
    -webkit-mask-image: url($svgPath);
    mask-image: url($svgPath);
  }
  
  .icon {
    -webkit-mask-size: cover;
    mask-size: cover;
    display: inline-block;
    width: 1.2rem;
    height: 1.5rem;
    background: #fff;
    margin: 0 .5rem;
  }
  
  $icons: (
    "search-locations": "/assets/icons/magnifying-glass-location-solid.svg",
    "share": "/assets/icons/share-nodes-solid.svg",
    "play": "/assets/icons/play-solid.svg",
    "arrow-up": "/assets/icons/circle-arrow-up-solid",
    "close": "/assets/icons/circle-xmark-solid"
  );
  
  @each $name, $path in $icons {
    .icon-#{$name} {
      @include addIcon($path);
    }
  }

  .material-icons{
    padding: 0 .5rem;
    font-size: 2rem !important;
  }