html{
  font-size: 15px;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: .4px;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: bold;
}

h3 {
  font-size: 1.375rem;
  line-height: 1.2;
  font-weight: bold;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: bold;
}

p {
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: justify;
}