.c-home {
  font-size: 1rem;
  &__map-container {
    position: absolute;
    top: 5.25rem;
    left: 0;
    right: 0;
    bottom: 4.5rem;

    #mapid {
      width: 98%;
      height: 100%;
      margin: 0 auto;
    }
  }
}
